# Python caches
__pycache__/
*.py[cod]
*$py.class

# Testing & Coverage
.coverage
htmlcov/
coverage.xml
.pytest_cache/

# Environment
.env
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db